<h1>Successfully Shortened!</h1>

<div class='shortened-link'>
  <div class='long-link'><%= @short_url.destination%></div>
  <div class='short-link'><%= URI.join('http://localhost:3000/', @short_url.slug)%></div>
</div>
